$text: #bec1dc;
$light-blue-2: #414063;
$primary: #b5e67b;
$hoverPill: #232432;

.container {
    // padding-left: 2rem;
    width: 100%;
    color: $text;
}

.header {
    font-size: 2rem;
    border-bottom: solid 4px $light-blue-2;
    padding-left: 2rem;
    padding-block: 1.5rem;
}

.welcome {
    padding-block: 1.5rem;
    padding-left: 2rem;
    font-size: 2rem;
    border-bottom: solid 4px $light-blue-2;
}

.body {
    padding-inline: 2rem;
    padding-block: 1.5rem;
}

.btn_create {
    border: 0px;
    border-radius: 40px;
    color: $text;
    text-align: center;
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
    padding: 15px;
}

.btn_create:hover{
    background-color: $hoverPill;
    color: $primary;
}

.fa_plus {
    color: $primary;
    font-size: 1.2rem;
}