// $border-color-translucent: #b5e67b;
$border-width: 1px;
$card-bg: #ffffff00;

$font-family-sans-serif:      'Poppins', sans-serif !default;
$input-font-family:           'Poppins', sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// COLORS
$primary: #b5e67b;
$white: #bec1dc;
$input-placeholder-color: $white;
$input-bg: transparent;
$input-color: $primary;

// $body-color: $primary;
// $body-bg: map-remove($body-bg, $white)
