$border-width: 1px;

$font-family-sans-serif:      'Poppins', sans-serif !default;
$input-font-family:           'Poppins', sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// COLORS
$primary: #b5e67b;
$text: #bec1dc;
$secondary: #2d2c45;
$light-blue-2: #414063;
$danger: #fb8e8e;
$bg-color: #1f1e30;
$card-bg: #ffffff00;

$input-placeholder-color: $text;
$input-bg: transparent;
$input-disabled-bg: #5f5f5f38;
$input-disabled-border-color: #5f5f5f00;
$input-disabled-color: #b6e67b98;
$input-color: $primary;

$modal-content-bg: #2c2b4c;
$modal-content-color: $text;
$modal-header-border-color: $primary;
$btn-close-color: $primary;

$list-group-color: $text;
$list-group-bg: $secondary;
$list-group-border-width: 0px;

$btn-border-radius: 20px;

