$font-family-sans-serif: 'Poppins', sans-serif !default;
$input-font-family: 'Poppins', sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;

$border-width: 1px;
// COLORS
$primary: #b5e67b;
$hoverPill: #232432;
$bg-color: #1f1e30;
$bg-main: #242337;
$first-elevation: #232237;
$secondary: #2d2c45;
$text: #bec1dc;
$light-blue-2: #414063;
$light-blue-3: #2c2b4c;
$danger: #fb8e8e;

$body-color: $text;
$card-bg: $first-elevation;

$input-placeholder-color: $text;
$input-bg: transparent;
$input-disabled-bg: $secondary;
$input-disabled-border-color: $first-elevation;
$input-disabled-color: #b6e67b98;
$input-color: $primary;

$modal-content-bg: $first-elevation;
$modal-content-color: $text;
$modal-header-border-color: $primary;
$btn-close-color: $primary;

$list-group-color: $text;
$list-group-bg: $secondary;
$list-group-border-width: 0px;

$btn-border-radius: 20px;

$dropdown-bg: $light-blue-2;
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: $hoverPill;

$progress-bar-color: $bg-color;
