$primary: #b5e67b;
$hoverPill: #232432;
$bg-color: #1f1e30;
$bg-main: #242337;
$first-elevation: #232237;
$secondary: #2d2c45;
$text: #bec1dc;
$light-blue-2: #414063;
$light-blue-3: #2c2b4c;
$danger: #fb8e8e;


.sidebar {
    color: $text;
    border-right: solid 4px $light-blue-2 !important;
    padding-inline: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
}

.image {
    aspect-ratio: 1/1;
    max-width: 25px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.btn_logout {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 15px;
    justify-content: center;
    color: $text;
    font-weight: 700;
    font-size: 20px;
    background-color: $first-elevation;
    border: 0px;
    border-radius: 40px;
    padding-block: 20px;
    padding-inline: 40px;
    margin-bottom: 1.5rem;
}

.btn_logout:hover {
    background-color: $light-blue-3;
    color: white;
}

.powerOff {
    color: $primary;
    transition: 0.3s;
}

.btn_logout:hover .powerOff {
    color: $danger;
}

.btn_items {
    background-color: transparent;
    border: 0px;
    color: $text;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    max-width: fit-content;
    font-size: 20px;
    transition: 0.3s;
    margin-bottom: 10px;
    padding-block: 15px;
    padding-inline: 20px;
}

.btn_items:hover {
    background-color: $light-blue-3;
    color: $primary;
}

.listTitle{
    border-bottom: 2px solid $primary;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 20px;
}

.listItem{
    border-bottom: 3px solid $light-blue-2;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.listItem:hover {
    cursor: pointer;
    color: $primary;
    border-bottom: $primary solid 3px;
    background-color: $hoverPill;
}

.listItemInvitation{
    color: $primary;
    border-left: 3px solid $primary;
    margin-left: 15px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.listItemInvitation:hover{
    cursor: pointer;
    background-color: $hoverPill;
}

.emptyList{
    font-style: oblique;
    text-align: center;
    color: #bec1dc90;
}