$primary: #b5e67b;
$light-blue-2: #414063;
$danger: #fb8e8e;
$text: #bec1dc;
$bg-color: #1f1e30;

.image_div {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin-inline: auto;
    position: relative;
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
    margin-bottom: 15px;
}

.image_div:hover {
    background-color: #414063;
}

.image {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid $light-blue-2;
}

.btn_editImg {
    position: absolute;
    translate: -110% 10%;
    font-size: 25px;
    color: #b6e67ba0;
    display: none;
    transition: 0.3s;
}

.btn_editImg:hover {
    cursor: pointer;
    color: $primary;
}

.btn_remove {
    position: absolute;
    bottom: 5px;
    translate: -110% -10%;
    font-size: 25px;
    color: #fb8e8e82;
    display: none;
    transition: 0.3s;
}

.btn_remove:hover {
    cursor: pointer;
    color: $danger;
}

.image_div:hover .btn_editImg,
.image_div:hover .btn_remove {
    display: inline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.input_icon,
.input_fileName,
.btn_save,
.btn_discard {
    background-color: $light-blue-2;
    padding-block: 5px;
    color: $text;
    font-size: 18px;
}

.input_icon {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 15px;
    padding-left: 20px;
    border-right: solid 2px $text;
    transition: 0.3s;
}

.input_icon:hover {
    cursor: pointer;
    color: $primary;
    background-color: $bg-color;
    border-right: solid 2px $primary;
}

.input_fileName {
    padding-right: 20px;
    padding-left: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: solid 2px $text;
    border: 0px;
}

.input_fileName:focus-visible {
    outline: 0px;
}

.btn_save,
.btn_discard {
    padding-inline: 10px;
    border-radius: 20px;
    background-color: $light-blue-2;
    transition: 0.3s;
}

.btn_save {
    color: #b6e67b;
}

.btn_discard {
    color: #fb8e8e;
}

.btn_save:hover,
.btn_discard:hover {
    cursor: pointer;
    background-color: $bg-color;
}

.form_control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.btn_editForm {
    display: none;
    font-size: 18px;
    background-color: $light-blue-2;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.btn_editForm:hover {
    cursor: pointer;
    background-color: $bg-color;
    color: $primary;
}

.form_control:hover .btn_editForm {
    display: inline;
}

.btn_changePass{
    display: flex;
    align-items: center;
    max-width: fit-content;
    gap: 10px;
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 20px;
    background-color: $light-blue-2;
    transition: 0.3s;
}

.btn_changePass svg{
    color: $primary;
}

.btn_changePass:hover{
    cursor: pointer;
    background-color: $bg-color;
    color: $primary;
}

.btn_deleteAccount{
    color: #bec1dc;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252440;
    gap: 10px;
    margin-top: 50px;
    padding-block: 10px;
    border-radius: 10px;
}

.btn_deleteAccount svg{
    color: #fb8e8e;
}

.btn_deleteAccount:hover{
    cursor: pointer;
    background-color: $bg-color;
    color: $danger;
}
