$primary: #b5e67b;
$hoverPill: #232432;
$bg-color: #1f1e30;
$bg-main: #242337;
$first-elevation: #232237;
$secondary: #2d2c45;
$text: #bec1dc;
$light-blue-2: #414063;
$light-blue-3: #2c2b4c;
$danger: #fb8e8e;

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $secondary;
    width:100%;
    max-width: 500px;
    min-width: 250px;
    padding-block: 15px;
    padding-inline: 15px;
    border-radius: 20px;
}

.card:hover {
    cursor: pointer;
    background-color: $light-blue-2;
}

.header,
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    gap: 15px;
}

.header {
    align-self: flex-start;
    border-bottom: solid 2px #bec1dc7c;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer {
    align-self: flex-end;
    padding-top: 10px;
    margin-top: 20px;
    border-top: solid 2px #bec1dc7c;
    font-size: 18px;
}

.creator {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_edit,
.btn_discard {
    padding-inline: 10px;
    padding-block: 3px;
    border-radius: 10px;
    color: $danger;
    transition: 0.3s;
    font-size: 18px;
}

.btn_edit {
    color: $primary;
}

.btn_discard:hover,
.btn_edit:hover {
    cursor: pointer;
    background-color: $hoverPill;
}

.description {
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    flex-grow: 1;
}

.noDescription {
    font-style: italic;
    color: #bec1dc90;
    flex-grow: 1;
}

.image {
    aspect-ratio: 1/1;
    max-width: 25px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
